{% extends 'myapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Services</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf"></script>
    {% endblock %}
</head>
<body>

    {% block body %}


        <div class="row">
            <div class="col-md-8">
                <div id="map" style="height: 530px; width: 100%;"></div>
                <div class="coordinate"></div>
                <button id="sendCoordinates">Send Center Coordinates</button>
            </div>
            <div class="col-md-3">
                <br><br>    
                <h1>City Mapper</h1>
                <form id="sourceCityForm" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="sourceCity">
                    <label for="sourceCity">Source City:</label>
                    <input type="text" id="sourceCity" placeholder="Enter city name" name="sourceCity"><br>
                    <button type="submit">Submit</button>
                    <br>
                    <br>
                </form>

                <form id="destCityForm" method="POST">
                    {% csrf_token %}    
                    <input type="hidden" name="form_id" value="destCity">
                    <label for="destCity">Destination City:</label>
                    <input type="text" id="destCity" placeholder="Enter city name" name="destCity"><br>
                    <button type="submit">Submit</button>
                    <br>
                    <br>
                </form>

                <button id="plotFlightPath">Plot Flight Path</button>
            </div>
        </div>


    

    
    
    {% csrf_token %}  {# Include the CSRF token in the HTML template #}

    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function() {
            var map = L.map('map').setView([51.505, -0.09], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
    
            L.control.scale({ position: "bottomright" }).addTo(map);

            var sourceMarker = null;
            var destMarker = null;
            var newMarker = null;
            var flightPath = null;

            function normalizeLongitude(lon) {
                while (lon < -180) {
                    lon += 360;
                }
                while (lon > 180) {
                    lon -= 360;
                }
                return lon;
            }
    
            map.on('mousemove', function(e) {
                // Get latitude and longitude values from the mousemove event
                var latitude = e.latlng.lat.toFixed(2);  // Round latitude to 2 decimal places
                var longitude = e.latlng.lng.toFixed(2);  // Round longitude to 2 decimal places
                var normalizeLng = normalizeLongitude(e.latlng.lng).toFixed(2);

                // var normalizeLng = normalizeLongitude(longitude)

                // Update the HTML content of the '.coordinate' element with formatted values
                $('.coordinate').html(`Latitude: ${latitude}<br>Longitude: ${normalizeLng}`);
            });
    
            $('#sendCoordinates').click(function() {
                var lat = map.getCenter().lat;  // Get current map center latitude
                var lng = map.getCenter().lng;  // Get current map center longitude
    
                // Retrieve CSRF token from the HTML document
                var csrftoken = '{{ csrf_token }}';
    
                // AJAX POST request to send coordinates to Django backend
                $.ajax({
                    type: 'POST',
                    url: "{% url 'myapp:services' %}",
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'lat': lat,
                        'lng': lng
                    },
                    success: function(response) {
                        alert('Coordinates sent successfully!');
                    },
                    error: function(xhr, status, error) {
                        alert('Error sending coordinates.');
                        console.error(error);
                    }
                });
            });
    
            // Control 3: This adds a Search bar
            var searchControl = new L.esri.Controls.Geosearch().addTo(map);
            var results = new L.LayerGroup().addTo(map);
    
            searchControl.on('results', function(data) {
                results.clearLayers();
                for (var i = data.results.length - 1; i >= 0; i--) {
                    results.addLayer(L.marker(data.results[i].latlng));
                }
            });
    
            // Handle form submission for sourceCityForm
            $('#sourceCityForm').submit(function(event) {
                event.preventDefault();  // Prevent default form submission
                var cityName = $('#sourceCity').val();
                var csrftoken = '{{ csrf_token }}';
    
                $.ajax({
                    type: 'POST',
                    url: "{% url 'myapp:services' %}",
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'form_id': 'sourceCity',
                        'sourceCity': cityName,
                    },
                    success: function(response) {
                        var latitude = response.latitude;
                        var longitude = response.longitude;
                        if (sourceMarker) {
                            map.removeLayer(sourceMarker);  // Remove existing source marker
                            map.removeLayer(newMarker);
                            map.removeLayer(flightPath);
                        }

                        sourceMarker = L.marker([latitude, longitude]).addTo(map);  // Add new source marker
                        map.setView([latitude, longitude], 11, { animation: true });
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
    
            // Handle form submission for destCityForm
            $('#destCityForm').submit(function(event) {
                event.preventDefault();  // Prevent default form submission
                var cityName = $('#destCity').val();
                var csrftoken = '{{ csrf_token }}';
    
                $.ajax({
                    type: 'POST',
                    url: "{% url 'myapp:services' %}",
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'form_id': 'destCity',
                        'destCity': cityName,
                    },
                    success: function(response) {
                        var latitude = response.latitude;
                        var longitude = response.longitude;
                        if (destMarker) {
                            map.removeLayer(destMarker);  // Remove existing source marker
                            map.removeLayer(newMarker);
                            map.removeLayer(flightPath);
                        }

                        destMarker = L.marker([latitude, longitude]).addTo(map);  // Add new source marker
                        map.setView([latitude, longitude], 11, { animation: true });
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            $('#plotFlightPath').click(function() {
                if (sourceMarker && destMarker) {
                    var sourceLatLng = sourceMarker.getLatLng();
                    var destLatLng = destMarker.getLatLng();

                    if (flightPath) {
                        map.removeLayer(flightPath);
                    }

                    var sourceCoords = [sourceLatLng.lng, sourceLatLng.lat]; // [longitude, latitude]
                    var destCoords = [destLatLng.lng, destLatLng.lat];       // [longitude, latitude]

                    // Calculate great circle path between start and end coordinates
                    var line = turf.greatCircle(sourceCoords, destCoords, { steps: 100 });
                    console.log(line)

                    if (line.geometry.type === 'LineString') {
                        // Convert Turf.js LineString coordinates to Leaflet polyline coordinates
                        var polylineCoords = line.geometry.coordinates.map(function(coord) {
                            return [coord[1], coord[0]];  // Swap to [Latitude, Longitude]
                        });

                        flightPath = L.polyline(polylineCoords, { color: 'blue' }).addTo(map);
                        map.fitBounds(flightPath.getBounds());

                    } else if (line.geometry.type === 'MultiLineString') {
                        // Convert Turf.js MultiLineString coordinates to Leaflet polyline coordinates
                        var multiPolylineCoords = line.geometry.coordinates.map(function(coords) {
                            return coords.map(function(coord) {
                                return [coord[1], coord[0]];  // Swap to [Latitude, Longitude]
                            });
                        });
                        console.log(multiPolylineCoords)
                        if(destCoords[0]<0) {
                            var nextCoords = multiPolylineCoords[1];
                            nextCoords = nextCoords.map(function(coord) {
                                return [coord[0], coord[1] + 360];
                            });
                            nextCoords.shift();
                            var joinedCoords = multiPolylineCoords[0].concat(nextCoords);
                            console.log(joinedCoords)

                            newMarker = L.marker([destCoords[1], destCoords[0]+360]).addTo(map);
                            map.removeLayer(destMarker);
                            console.log(destMarker);
                        }
                        else {
                            var nextCoords = multiPolylineCoords[1];
                            nextCoords = nextCoords.map(function(coord) {
                                return [coord[0], coord[1] - 360];
                            });
                            nextCoords.shift();
                            var joinedCoords = multiPolylineCoords[0].concat(nextCoords);
                            console.log(joinedCoords)

                            newMarker = L.marker([destCoords[1], destCoords[0]-360]).addTo(map);
                            map.removeLayer(destMarker);
                            console.log(destMarker);
                        }

                        
                        flightPath = L.polyline(joinedCoords, { color: 'blue' }).addTo(map);
                        map.fitBounds(flightPath.getBounds());
                    }

                } else {
                    alert('Please enter both source and destination cities first.');
                }
            });



        });
    </script>
    

    {% endblock %}
    
</body>

</html>

